@model IEnumerable<MvcMovie.Models.Titles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")


    @using (Html.BeginForm("Index","Titles",FormMethod.Get)) { 
        <p>
            @*Subject: @Html.DropDownList("Subject","--Select Subject--")*@

            Book Name: @Html.TextBox("SearchString") <br/>
            <input type="submit" value="Filter" /> 
        </p>               
    }

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Copyright)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Copyright)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ISBN }) |
            @Html.ActionLink("Details", "Details", new { id=item.ISBN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ISBN })
        </td>
    </tr>
}

</table>
